*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    text-align: center;
    border:2px solid black;
    width: 100%;
    height: 150px;
    position: relative;
    top: 2px;
}
.banner h1{
    background-color: aqua;
    height: 100px;
    padding-top: 30px;
    margin-top: 5px;
}
.banner p{
    padding-top: 10px;
}
.italic{
    text-decoration: underline dotted;
}


