*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    border: 2px solid #1eff29;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin-left: 800px;
    padding: 15px;
}