*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 400px;
    border: 1px solid black;
    height: 470px;
    margin-left: 600px;
}
.card h1{
    color: #ff6600;
}
.card h1::before{
    content: "⭐";
}
.card img{
    width: 397px;
    padding-top: 10px;
}
.card h2{
    padding-top: 10px;
}
.card h3{
    padding-top: 10px;
    color: #20ff29;
}
.card p{
    padding-top: 10px;
    opacity: 0.7;
}
h1{
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}