*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f8f6;
}
.container{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.container .card{
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    width: 450px;
    padding: 30px;
    text-align: center;
}
.container .card h1{
    color: #1eceff;
}
.container .card p{
    opacity: 0.5;
    padding-top: 10px;
}